Makefile
autom4te.cache/
Makefile.in
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/audio-renderer
*.o
*.gen.c
stamp-h1
*~
presets.list
preset.last
.anjuta*
*.log
